#l1:hover{
    transform: scale(1.10);
}
#h1:hover{
    transform: scale(1.05);
}

#h2:hover{
    transform: scale(1.05);
}

#h3:hover{
    transform: scale(1.05);
}

#h4:hover{
    transform: scale(1.05);
}

#c1:hover{
    transform: scale(1.05);
}

#c2:hover{
    transform: scale(1.05);
}

#c3:hover{
    transform: scale(1.05);
}

#q1:hover{
    transform: scale(1.15);
}